html, body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

.vertical-horizontal-center {
    text-align: center;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

section {
    padding: 40px 10px;
}

.intro {
    height: 100%;
}

.content {
    padding: 40px 0px 40px 0px;
}

.navbar-expand .navbar-nav .nav-link {
    padding: 0px 0px;
    margin: 0px 5px;
}

nav a {
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.5s;
}

nav a:hover {
    border-bottom: 1px solid white;
}

nav.navbar {
    width: 100%;
    z-index: 999;
    transition: all 0.2s ease-in-out;
}

.about a,
.about a:visited,
.about a:hover,
.about a:active,
.intro a,
.intro a:visited,
.intro a:hover,
.intro a:active {
    color: inherit;
}

.section-header {
    font-size: 26px;
    letter-spacing: 2px;
    font-weight: bold;
}

.section-header::after {
    content: ' ';
    display: block;
    width: 50px;
    margin: 10px 0;
    border: 2px solid;
}

.find-me {
    margin-top: 20px;
}

.contact i {
    font-size: 2em;
    color: rgb(222, 222, 222);

}

a:hover.no-underline  {
    text-decoration: none;
}

a .fa-linkedin-in,
a .fa-github,
a .fa-envelope {
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
}

a:hover .fa-linkedin-in {
    color: #80C9FF;
}

a:hover .fa-github {
    color: #AAAAFF;
}

a:hover .fa-envelope {
    color: #FFAAAA;
}

.right {
    float: right;
}

.contact ul {
    padding: 0px;
    float: right;
    list-style-type: none;
}

.contact ul li {
    display: inline-block;
    padding: 0 0.75em 0 0;
}

.title {
    font-size: 5rem;
    letter-spacing: 2px;
    font-weight: bold;
}

.subtitle {
    font-size: 2rem;
}

.about a {
    text-decoration: none;
    border-bottom: 1px solid #b8c1cb;
    padding-bottom: 1px;
}

.about a:hover {
    text-decoration: none;
    border-bottom: 1px solid #8a9198;
    padding-bottom: 1px;
}

.intro,
.education,
.skills {
    background-color: #034f84;
    color: white;
}

.about,
.experience,
.projects {
    background-color: #e7f2fe;
    color: #034f84;
}

.contact {
    background-color: #034f84;
    color: white;
    border-bottom: 1px solid #eee;
}

.footer {
    background-color: #034f84;
    color: white;
    padding: 10px 0px;
}

.footer p {
    margin-bottom: 0px;
}

.skillbar {
	position:relative;
    display:block;
    padding:0;
	width:100%;
	background:#eee;
	height:15px;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	-webkit-transition:0.4s linear;
	-moz-transition:0.4s linear;
	-ms-transition:0.4s linear;
	-o-transition:0.4s linear;
    transition:0.4s linear;
    background: #e7f2fe;
	-webkit-transition-property:width;
	-moz-transition-property:width;
	-ms-transition-property:width;
	-o-transition-property:width;
	transition-property:width;
}

.skillbar-bar {
	height:15px;
	width:0px;
	background:#81A7C1;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
}

.skill-name {
    padding: 0;
    letter-spacing: 1px;
}

.skills-progress {
    margin-bottom: 10px;
}

.sub-section {
    font-size: 20px;
    letter-spacing: 2px;
    font-weight: bold;
}

.sub-section::after {
    content: ' ';
    display: block;
    width: 100%;
    margin: 10px 0 20px 0;
    border: 1px solid;
}

.note {
    color: #6795b5;
    padding: 15px 15px;
}

.skills-info {
    padding-bottom: 10px;
}

img {
    width: 100%;
    border: 1px solid #81A7C1;
    border-radius: 10px;
    height: 100%;
}

.img-container {
    border-radius: 10px;
    display: flex;
    flex: 0 0 150px;
    height: auto;
    justify-content: center;
    overflow: hidden;
    position: relative;
    width: 100%;
    margin-bottom: 10px;
}

.overlay {
    align-items: center;
    bottom: 0;
    display: flex;
    justify-content: center;
    left: 0;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: opacity 0.25s;
    z-index: 1;
}

.image-caption {
    color: white;
    font-size: 15px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    font-weight: bold;
    letter-spacing: 1px;
}

.img-container:hover .overlay {
    opacity: 0.90;
    background-color: #034f84;
}

h5 {
    margin-right: 5px;
    display: inline-block;
    font-weight: bold;
    letter-spacing: 1px;
}

.title-block {
    margin-bottom: 10px;
    margin-left: 5px;
}

.project {
    margin-bottom: 20px;
}

.project i {
    vertical-align: middle;
    font-size: 1.75em;
    color: #81A7C1
}

.tag {
    border: 1px solid #81A7C1;
    display: inline-block;
    border-radius: 6px;
    padding: 5px 10px;
    font-size: 12px;
    color: #6795b5;
    text-transform: uppercase;
    margin-right: 5px;
}

.visit {
    text-transform: uppercase;
    padding: 15px 25px;
    border-radius: 30px;
    font-size: 14px;
    letter-spacing: 1px;
    margin-top: 14px;
    display: inline-block !important;
    line-height: 1.4;
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    transition: all .2s ease;
    background: #034f84;
    border: 1px solid #fff;
    color: #fff;
    text-decoration: none;
}

.visit:hover {
    text-decoration: none;
    background-color: #fff;
    color: #034f84;
}

.text {
    margin-right: 5px;
    font-weight: bold;
    font-size: 1.3em;
    letter-spacing: 1px;
}

.subtext {
    margin-right: 5px;
    font-weight: bold;
    letter-spacing: 1px;
}

i.no-hover {
    color: #034f84;
    font-size: 6em;
}

.skills-progress:hover {
    opacity: 0.75;
}

.title-block i:hover {
    color: #034f84;
}

@media (max-width: 767px) {
    
}

@media (max-width: 767px) {
    .intro {
        padding-left: 0px;
        padding-right: 0px;
    }

    .navbar-expand .navbar-nav .nav-link {
        font-size: 12px !important;
        padding: 0px 0px;
        margin: 0px 5px;
    }

    .ml-auto {
        margin: 0 auto;
    }

    .find-me.right {
        float: left;
    }

    .find-me ul {
        float: left;
    }

    .project .vertical-horizontal-center {
        text-align: center;
        position: inherit;
        top: inherit;
        transform: inherit;
    }
}

@media (max-width: 375px) {
    .intro {
        padding-left: 0px;
        padding-right: 0px;
    }

    nav.navbar {
        display: none;
    }

    .ml-auto {
        margin: 0 auto;
    }

    .tag {
        display:none;
    }

    .find-me.right {
        float: left;
    }

    .find-me ul {
        float: left;
    }

    .project .vertical-horizontal-center {
        text-align: center;
        position: inherit;
        top: inherit;
        transform: inherit;
    }
}